#title {
    border-bottom: 1px solid black;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: grey;
}

button {
    color: black;
    font-size: 31px;
    font-family: sans-serif;
    margin: 1.5px;
}

button:hover {
    color: grey;
}